env/
.env
venv/
.venv
.envrc
env3*/
Pipfile
*.lock
*.py[cod]
*.egg-info/
/build/
dist/
.cache/
/site/
/site.zip
.pytest_cache/
.python-version
__pycache__/
.vscode/
_build/
.auto-format
/sandbox/
/worktrees/
/.ruff_cache/
.DS_Store
